body{
    background-color: #111;
    color: #ddd;
    font-family: 'Times New Roman', Times, serif;

}
details{
    background-color: transparent;
    border: 1px solid #ddd;
    border-bottom:none;
}
details[open]{
    border-bottom: 1px solid #ddd;
    background-color: #555;
    font-weight: bold;
}
summary{
    background-color: transparent;
    border-bottom: 1px solid #ddd;
    padding: 5px;
}
ul{
    font-weight: 100;
}